example.com {
  tls your@gmail.com

  reverse_proxy http://frontend:8000
}

example.com:9000 {
  tls your@gmail.com

  reverse_proxy http://backend:9000
}

# uncomment the following lines if you want to redirect www.example.com to example.com

# www.example.com {
#   redir https://example.com
# }
